In [1]:
!pip install causaldata

Collecting causaldata
  Downloading causaldata-0.1.3.tar.gz (2.6 MB)
     |████████████████████████████████| 2.6 MB 722 kB/s eta 0:00:01
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.9/site-packages (from causaldata) (0.13.2)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (from causaldata) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->causaldata) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->causaldata) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->causaldata) (1.21.6)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->causaldata) (1.16.0)
Requirement already satisfied: scipy>=1.3 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels->causaldata) (1.7.3)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels->causaldata) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels->causaldata) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels->causaldata) (3.0.4)
Building wheels for collected packages: causaldata
  Building wheel for causaldata (setup.py) ... done
  Created wheel for causaldata: filename=causaldata-0.1.3-py3-none-any.whl size=2645617 sha256=077386a642717ea3f979ea33f6ac9df86d755c8a0b27c0840e92d65cea0798b9
  Stored in directory: /Users/joyet/Library/Caches/pip/wheels/ce/0b/ea/6688ee5db67bccf7d9e46882bf80ad0959a3d6de15b4352254
Successfully built causaldata
Installing collected packages: causaldata
Successfully installed causaldata-0.1.3

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import causaldata

In [16]:
df = pd.DataFrame(causaldata.nhefs_complete.load_pandas().data)
display(df.head())
display(df.columns)

,seqn,qsmk,death,yrdth,modth,dadth,sbp,dbp,sex,age,...,hightax82,price71,price82,tax71,tax82,price71_82,tax71_82,id,censored,older
0,233.0,0.0,0.0,NaN,NaN,NaN,175.0,96.0,0,42.0,...,0.0,2.183594,1.739990,1.102295,0.461975,0.443787,0.640381,1,0.0,0.0
1,235.0,0.0,0.0,NaN,NaN,NaN,123.0,80.0,0,36.0,...,0.0,2.346680,1.797363,1.364990,0.571899,0.549316,0.792969,2,0.0,0.0
2,244.0,0.0,0.0,NaN,NaN,NaN,115.0,75.0,1,56.0,...,0.0,1.569580,1.513428,0.551270,0.230988,0.056198,0.320251,3,0.0,1.0
3,245.0,0.0,1.0,85.0,2.0,14.0,148.0,78.0,0,68.0,...,0.0,1.506592,1.451904,0.524902,0.219971,0.054794,0.304993,4,0.0,1.0
4,252.0,0.0,0.0,NaN,NaN,NaN,118.0,77.0,0,40.0,...,0.0,2.346680,1.797363,1.364990,0.571899,0.549316,0.792969,5,0.0,0.0

Index(['seqn', 'qsmk', 'death', 'yrdth', 'modth', 'dadth', 'sbp', 'dbp', 'sex',
       'age', 'race', 'income', 'marital', 'school', 'education', 'ht', 'wt71',
       'wt82', 'wt82_71', 'birthplace', 'smokeintensity', 'smkintensity82_71',
       'smokeyrs', 'asthma', 'bronch', 'tb', 'hf', 'hbp', 'pepticulcer',
       'colitis', 'hepatitis', 'chroniccough', 'hayfever', 'diabetes', 'polio',
       'tumor', 'nervousbreak', 'alcoholpy', 'alcoholfreq', 'alcoholtype',
       'alcoholhowmuch', 'pica', 'headache', 'otherpain', 'weakheart',
       'allergies', 'nerves', 'lackpep', 'hbpmed', 'boweltrouble', 'wtloss',
       'infection', 'active', 'exercise', 'birthcontrol', 'pregnancies',
       'cholesterol', 'hightax82', 'price71', 'price82', 'tax71', 'tax82',
       'price71_82', 'tax71_82', 'id', 'censored', 'older'],
      dtype='object')